/COMP345_Risk/.vs
/.vs
/.vs/COMP345_Risk/v15
/COMP345_Risk/COMP345_Risk.vcxproj
/COMP345_Risk/COMP345_Risk.vcxproj.filters
/COMP345_Risk/COMP345_Risk.vcxproj.user
/COMP345_Risk/x64/Debug/*
/x64/Debug/*